@use 'sass:color';
@use 'app/shared/styles/variables' as *;
@use 'app/shared/styles/mixins' as *;

.add-page {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  padding: $spacing-md 0;
  max-width: 75rem;
  margin: 0 auto;
}

.add-header {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    color: $color-text-primary;
    margin: 0;
  }

  &__subtitle {
    font-size: 0.95rem;
    color: $color-text-secondary;
    margin: 0;
  }
}
