<div class="sidebar">
  <div class="sidebar__brand">
    <mat-icon class="sidebar__brand-icon">apartment</mat-icon>
    <span class="sidebar__brand-name">{{ appName }}</span>
  </div>

  <nav class="sidebar__nav">
    @for (item of navItems; track item.route) {
      <a [routerLink]="item.route" routerLinkActive="sidebar__link--active" class="sidebar__link">
        <mat-icon class="sidebar__link-icon">{{ item.icon }}</mat-icon>
        <span class="sidebar__link-label">{{ item.label }}</span>
      </a>
    }
  </nav>
</div>